{% extends 'base.html' %}
{% block title %}
PP Delete vehicle page
{% endblock %}
{% block content %}
<center>
   <style>
      .button {
      border: none;
      color: white;
      padding: 15px 32px;
      width: 25%;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 30px;
      margin: 80px 2px;
      cursor: pointer;
      transition-duration: 0.4s;
      }
      .button:hover {
      background-color: #e7e7e7;
      }
      .button1 {background-color: #4CAF50;}
      .button2 {background-color: #ff0e0e;}
   </style>
   <br><br><br>
   <h1>Are you sure you want to proceed?</h1>
   <br><br><br>
   <h2>DELETE vehicle:</h2>
   <br>
   <h4>Vehicle registration number: {{ reg_number }}</h4>
   <h4>Owner: {{ first_name }} {{ last_name }} </h4>
   <br><br><br>
   <center>
      <i>if you confirm, the vehicle and all information associated with it will be lost forever</i>
   </center>
   <button onclick="window.location.href = 'vehicles'" class="button button1">NO</button>
   <button onclick="window.location.href = 'vehicle_yes_but_del_action'" class="button button2">YES</button>
</center>
{% endblock %}