{% extends 'base.html' %}
{% block title %}
PP Edit subscription page
{% endblock %}
{% block content %}
<center>
   <style>
      .button {
      border: none;
      color: white;
      padding: 15px 32px;
      width: 25%;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 30px;
      margin: 80px 2px;
      cursor: pointer;
      transition-duration: 0.4s;
      }
      .button:hover {
      background-color: #e7e7e7;
      }
      .button1 {background-color: #ff0e0e;}
      .button2 {background-color: #4CAF50;}
   </style>
   <br><br><br>
   <h1>Please check the details and confirm</h1>
   <br><br><br>
   <h2>Subscription new details:</h2>
   <br>
   <h4>Vehicle plate number: {{ reg_number }}</h4>
   <h4>Expire: {{ end_date }}</h4>
   <h4>Parking spot: {{ parking_spot_number }}</h4>
   <br>
   <h2>Old subscription tax: {{ old_tax }} lv</h2>
   <h1>New subscription tax: {{ new_sub_tax }} lv</h1>
   <h2>Difference to {{ diff_action }}: {{ diff_in_lv }} lv</h2>
   <button onclick="window.location.href = 'subscriptions'" class="button button1">NO</button>
   <button onclick="window.location.href = 'edit_sub_yes_but_action'" class="button button2">YES</button>
</center>
{% endblock %}