{% extends 'base.html' %}
{% block title %}
PP Edit customer page
{% endblock %}
{% block content %}
<div class="container">
   <form method="POST" class="form-register" style="color:black">
      {{ form.hidden_tag() }}
      <br>
      <h1>Edit customer</h1>
      <br>
      <center>
         <i>fill in only the fields you want to change, leave fields you do not want to change</i>
      </center>
      <br>
      {{ form.first_name.label() }}
      {{ form.first_name(class="form-control", placeholder="add new first name") }}
      <br>
      {{ form.last_name.label() }}
      {{ form.last_name(class="form-control", placeholder="add new last name") }}
      <br>
      {{ form.phone.label() }}
      {{ form.phone(class="form-control", placeholder="add new phone number") }}
      <br>
      {{ form.address.label() }}
      {{ form.address(class="form-control", placeholder="add new address") }}
      <br>
      <center>
         <i>the date of the event is taken automatically from the system</i>
      </center>
      {{ form.button(class="btn btn-lg btn-block btn-primary") }}
   </form>
</div>
{% endblock %}