{% extends 'base.html' %}
{% block title %}
PP Vehicles page
{% endblock %}
{% block content %}
<center>
   <style>
      .button {
      border: none;
      color: white;
      padding: 15px 32px;
      width: 25%;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 30px;
      margin: 80px 2px;
      cursor: pointer;
      transition-duration: 0.4s;
      }
      .button:hover {
      background-color: #e7e7e7;
      }
      .button1 {background-color: #4CAF50;}
      .button2 {background-color: #008CBA;}
      .button3 {background-color: #ff0e0e;}
   </style>
   <br>
   <h1>Vehicles options</h1>
   <br>
   <button onclick="window.location.href = 'add_vehicle'" class="button button1">Add vehicle</button>
   <button onclick="window.location.href = 'select_vehicle_edit'" class="button button2">Edit vehicle</button>
   <button onclick="window.location.href = 'select_delete_vehicle'" class="button button3">Delete vehicle</button>
</center>
{% endblock %}